[submodule "src/github.com/aemengo/bosh-runc-cpi"]
	path = src/github.com/aemengo/bosh-runc-cpi
	url = https://github.com/aemengo/bosh-runc-cpi.git
[submodule "src/github.com/aemengo/vpnkit-manager"]
	path = src/github.com/aemengo/vpnkit-manager
	url = https://github.com/aemengo/vpnkit-manager.git
[submodule "src/github.com/aemengo/blt"]
	path = src/github.com/aemengo/blt
	url = https://github.com/aemengo/blt.git
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://go.googlesource.com/net
